@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contactInput {
    @apply outline-none bg-[#ffffffae] rounded-md shadow-2xl px-6 py-4 border-gray-400  text-gray-600 placeholder-gray-500 transition-all 
    focus:outline-[#ffffff] focus:bg-[#ffffffe1] hover:outline-[#ffffff54] 
  }
}

* {
  margin: 0
}

.font-tilt-prism {
  font-family: 'Tilt Prism', cursive;
}
